* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#cccccc;
    gap: 1rem;


}
.main {
    display: flex;
    align-items: center;
    gap: 8rem;
    position: relative;
    right: 10rem;
    
}

.container {

    width: 32rem;
    height: 32rem;
    display: grid;
    background-color: ##faf7eb;
    margin-top: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 20px black;
    
    
    
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #525252 ;
    font-size: 40pt;
}

.square {
    width: 32px;
    height: 32px;
    background-color: #e9e6e6;

}

button {
    padding: 1rem;
    
    background-color: #fff;
    border-radius: 10px;
    border-color: #303030;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

button:hover {
    background-color: rgb(141, 141, 141);
    cursor: pointer;
}

.square:hover {
    background-color: #fff;
}